@font-face {
    font-family: 'Proxima Soft Bold';
    src: url('/font/ProximaSoft-Bold.ttf');
}

@font-face {
    font-family: 'Proxima Soft Medium';
    src: url('/font/ProximaSoft-Medium.ttf');
}

@font-face {
    font-family: 'Proxima Soft Medium Italic';
    src: url('/font/ProximaSoft-MediumIt.ttf');
}

.label {
    -fx-font-family: "Proxima Soft Medium";
}